<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans       
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 注入bean对象，可以扫描注解，简化配置 -->
	<!-- <bean id="basicService" class="com.chl.service.impl.BasicServiceImpl"></bean> -->
	
	<!-- 扫描包自动注入 -->
	<context:component-scan base-package="com.chl.service.impl.**"></context:component-scan>
	
	<!-- 导入相关资源包 -->
	<import resource="spring-dubbo-provider.xml"/>

</beans>